body,html{
    background-color:#403539;
    height:100%;
}



/*see m-c notes in _notes file*/
#m-c{
    min-height:90%;
    margin:5px 0px;
    padding:0px;
    border-bottom:2px #fff solid;
}

/*topbar Navigation*/
#t-n{
    background-color:#fff;
    padding:0px;
    margin:0px;
    min-height:20px;
}

#t-n>div>ul>li>a{
    color:#000;
    background-color:transparent;
}

#t-n>.navbar-header>a{
color:#000;
border-right:solid 1px #000;
cursor:arrow;
}

#t-n>div>ul>li>a:hover{
    background-color:#403539;
    color:#fff;
}

#t-n>div>ul>.dropdown>.dropdown-menu{
  background-color:#fff;
  width:100%;
  border:none;
}

#t-n>div>ul>.dropdown>.dropdown-menu>li>a{
  background-color:inherit;
  padding:10px 0px;
  text-indent:10px;
  border:none;
}

#t-n>div>ul>.dropdown>.dropdown-menu>li>a:hover{
    background-color:#403539;
    color:#fff;
}

.panel{
    background-color:#fff;
    border:none;
    border-radius:3px;
}
.panel>.panel-heading{
  background-color:#403539;
  color:#fff;
  font-weight:bolder;
  text-decoration:underline;
}

.panel>.panel-body{
    border-radius:5px;
    color:#000;
    font-weight:bolder;
}
