/*Global settings for html and body*/

body,html{
    background-color:#403539;
    height:100%;
    color:#fff;
}

/*End global Settings for body and html*/



/*Main container global settings
# please refer to /css/_notes/for more information
*/

#m-c{
    min-height:90%;
    margin:5px 0px;
    padding:0px;
    border-bottom:2px #fff solid;
}

/*End main container global settings */

/*topbar Navigation*/
#t-n{
    background-color:#fff;
    padding:0px;
    margin:0px;
    min-height:20px;
}

#t-n>div>ul>li>a{
    color:#000;
    background-color:transparent;
}

#t-n>.navbar-header>a{
color:#000;
border-right:solid 1px #000;
cursor:arrow;
}

#t-n>div>ul>li>a:hover{
    background-color:#403539;
    color:#fff;
}

#t-n>div>ul>.dropdown>.dropdown-menu{
  background-color:#fff;
  width:100%;
  border:none;
}

#t-n>div>ul>.dropdown>.dropdown-menu>li>a{
  background-color:inherit;
  padding:10px 0px;
  text-indent:10px;
  border:none;
}

#t-n>div>ul>.dropdown>.dropdown-menu>li>a:hover{
    background-color:#403539;
    color:#fff;
}
/*end top navigation bar*/


/*footer*/
#footer{
    min-height:100px;
    border-bottom:solid 1px #fff;
    text-align:center;
}

/*Footer href settings per coloum*/
#footer>.row>.col-md-1>ul>li>a,
#footer>.row>.col-md-2>ul>li>a,
#footer>.row>.col-md-3>ul>li>a,
#footer>.row>.col-md-4>ul>li>a,
#footer>.row>.col-md-5>ul>li>a,
#footer>.row>.col-md-6>ul>li>a,
#footer>.row>.col-md-7>ul>li>a,
#footer>.row>.col-md-8>ul>li>a,
#footer>.row>.col-md-9>ul>li>a,
#footer>.row>.col-md-10>ul>li>a,
#footer>.row>.col-md-11>ul>li>a,
#footer>.row>.col-md-12>ul>li>a
{
color:#fff;
background-color:transparent;
}

/*end footer section*/


/* .panel global settings */


.panel>.panel-heading{
  background-color:#403539;
  color:#fff;
  font-weight:bolder;
  text-decoration:underline;
}

.panel>.panel-body{
    color:#000;
    background-color:#f1f1f1;
    font-weight:bolder;
}

.panel>.panel-body>div>a{
    color:#000;
}


/*end .panel globals*/


/*Misc Global settings */
.btn-success,.btn-success:hover{
     background-color:#403539;
     color:#fff;
    border:solid 1px #000;
    border-radius:4px;
}

